<!--<p>Find me in app/views/genres/_genre_form.html.erb</p>-->
<%= form_for(@genre) do |f| %>
    <% if @genre.errors.any? %>
        <!-- 問題がある場合 -->
        <!-- エラー内容の表示 -->
        <div class="alert alert-danger">
          <ul>
            <% @genre.errors.full_messages.each do |msg| %>
                <li><%= msg.html_safe %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <label>ジャンル名</label><br>
    <%= f.text_field :name %><br>
    <br>
    <div class="action">
      <%= f.submit %>
    </div>
<% end %>