<!--<h1>Genres#edit</h1>-->
<!--<p>Find me in app/views/genres/edit.html.erb</p>-->

<h3>ジャンルの変更</h3>
<%= render 'genre_form' %>
<br>
<p><button class="btn btn-default btn-xs"><%= link_to 'ジャンル一覧へ', genres_path %></button></p>