<!--<h1>Genres#new</h1>-->
<!--<p>Find me in app/views/genres/new.html.erb</p>-->

<h3>ジャンルの登録</h3>
<%= render 'genre_form' %>
<br>
<p><button class="btn btn-default btn-xs"><%= link_to 'トップ画面へ', orders_path %></button></p>