<h1>Top#company</h1>
<p>Find me in app/views/top/company.html.erb</p>

<h1>プロフィール</h1>

<table>
  <tr>
    <td class="midashi">名前</td>
    <td>上野敏弘(うえの としひろ)</td>
  </tr>
  <tr>
    <td class="midashi">生年月日</td>
    <td>1987年2月7日</td>
  </tr>
  <tr>
    <td class="midashi">出身地</td>
    <td>岐阜県岐阜市</td>
  </tr>
  <tr>
    <td class="midashi">業界への志望動機</td>
    <td>
      <ul>
        <li>自分が日々成長できることを実感できる仕事</li>
        <li>IT技術なくしてビジネスはなりたたず将来性がある</li>
        <li>自分のやりたいことができたときに大きな力になる</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="midashi">プログラミング経験</td>
    <td>
      <ul>
        <li>Java,JSP Servlet</li>
        <li>Ruby, Ruby on Rails</li>
        <li>SQL</li>
        <li>PHP(今後)</li>
        <li>JavaScript</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="midashi">深くやりたいこと</td>
    <td>
      <ul>
        <li>Git</li>
        <li>RSpec</li>
        <li>JavaScript(ReactもしくはVueを含む)</li>
        <li>AWS</li>
      </ul>
    </td>
  </tr>
</table>


