<!--<h3>Positions#new</h3>-->
<!--<p>Find me in app/views/positions/new.html.erb</p>-->
<h3>位置情報の登録</h3>

<%= render 'position_form' %>

<button class="btn btn-default btn-xs"><%= link_to '位置情報一覧へ', positions_path %></button>
