<header>
  <!--ロゴ-->
  <div id="logo">
        <%= image_tag('logo.png', :size => "270x65") %>
  </div>
      <div id="right">
        <% if user_signed_in? %>
            <%= current_user.email %>さん
        <% else %>
            <div>げすとさん</div>
        <% end %>

        <div id="login-out">
          <%= link_to "ログアウト", destroy_user_session_path %>
        </div>
        <!--基本情報などのメニュー表示-->
      </div>
</header>
