<header>
  <!--ロゴ-->
  <div id="logo">
        <%= image_tag('logo.png', :size => "270x65") %>
  </div>
      <div id="right">
        <% if user_signed_in? %>
            <%= current_user.email %>さん
        <% end %>
      </div>
</header>
