<h1>Tops#company</h1>
<p>Find me in app/views/tops/company.html.erb</p>

<h3>プロフィール</h3>

<table>
  <tr>
    <td class="midashi">名前</td>
    <td>上野敏弘(うえの としひろ)</td>
  </tr>
  <tr>
    <td class="midashi">生年月日</td>
    <td>1987年2月7日</td>
  </tr>
  <tr>
    <td class="midashi">出身地</td>
    <td>岐阜県岐阜市</td>
  </tr>
  <tr>
    <td class="midashi">業界への志望動機</td>
    <td>
      <ul>
        <li>自分が日々成長できることを実感できる仕事</li>
        <li>IT技術なくしてビジネスはなりたたず将来性がある</li>
        <li>自分のやりたいことができたときに大きな力になる</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="midashi">プログラミング経験</td>
    <td>
      <ul>
        <li>Java,JSP Servlet</li>
        <li>Ruby, Ruby on Rails</li>
        <li>SQL</li>
        <li>PHP(今後)</li>
        <li>JavaScript</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td class="midashi">深くやりたいこと</td>
    <td>
      <ul>
        <li>Git</li>
        <li>Slim</li>
        <li>RSpec</li>
        <li>JavaScript(余裕があればReactもしくはVueも)</li>
        <!--<li>AWS</li>-->
      </ul>
    </td>
  </tr>
</table>
<div id="map" style="width: 670px; height: 400px;"></div>

<!--googlemap表示用-->
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src="//maps.google.com/maps/api/js?v=3.25&key=AIzaSyA9LcEu99UT8OzJ2PcmLaE9K0UXrt1VdIk"></script>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
});
</script>


