<% provide(:title, 'メールアドレス') %>
<!--<h1>Users#show</h1>-->
<!--<p>Find me in app/views/users/show.html.erb</p>-->

<h3>あなたのメールアドレス</h3>
<br>
<p><%= current_user.email %></p>

<button class="btn btn-default btn-sm"><%= link_to 'メールアドレスを変更する', edit_user_registration_path %></button>