<div id="side-bar">
  <!--配送先、支払い方法の選択-->
    <div id="shipping-defayment">
      <div>配送先</div>

      <div>支払方法</div>
    </div>

  <!--商品検索-->
  <!--商品番号検索-->
  <!--ジャンル検索-->
  <div id="side-bar-title1">
    ジャンルから選ぶ
  </div>
  <div class="accbox">
    <!--新商品-->
    <div class="new-items">
      <label for="label1">新商品</label>
      <input type="checkbox" id="label1" class="on-off">
      <div class="show">
        <div class="genrelist">- シュミットハンマー</div>
        <div class="genrelist">- レーザー距離計</div>
        <div class="genrelist">- ジャンル3</div>
        <div class="genrelist">- ジャンル4</div>
      </div>
    </div>
    <!--genre1-->
    <div class="genre1">
      <label for="label2">genre1</label>
      <input type="checkbox" id="label2" class="on-off">
      <div class="show">
        <div class="genrelist">- genre1の子1</div>
        <div class="genrelist">- genre1の子2</div>
        <div class="genrelist">- genre1の子3</div>
        <div class="genrelist">- genre1の子4</div>
      </div>
    </div>
    <!--genre2-->
    <div class="genre2">
      <label for="label3">genre2</label>
      <input type="checkbox" id="label3" class="on-off">
      <div class="show">
        <div class="genrelist">- genre2の子1</div>
        <div class="genrelist">- genre2の子2</div>
        <div class="genrelist">- genre2の子3</div>
        <div class="genrelist">- genre2の子4</div>
      </div>
    </div>
    <!--genre3-->
    <div class="genre3">
      <label for="label4">genre3</label>
      <input type="checkbox" id="label4" class="on-off">
      <div class="show">
        <div class="genrelist">- genre3の子1</div>
        <div class="genrelist">- genre3の子2</div>
        <div class="genrelist">- genre3の子3</div>
        <div class="genrelist">- genre3の子4</div>
      </div>
    </div>
    <!--genre4-->
    <div class="genre4">
      <label for="label5">genre4</label>
      <input type="checkbox" id="label5" class="on-off">
      <div class="show">
        <div class="genrelist">- genre4の子1</div>
        <div class="genrelist">- genre4の子2</div>
        <div class="genrelist">- genre4の子3</div>
        <div class="genrelist">- genre4の子2</div>
      </div>
    </div>

  </div>
  <!--マーキング-->
</div>
