<% provide(:title, "配送先住所の変更") %>
<!--<h1>Addresses#edit</h1>-->
<!--<p>Find me in app/views/addresses/edit.html.erb</p>-->
<h3>配送先の変更</h3>
<%= render 'address_form' %>
<br>
<button class="btn btn-default btn-xs"><%= link_to '注文履歴へ', users_path %></button>