<% provide(:title, "商品情報の変更") %>
<!--<h1>Items#edit</h1>-->
<!--<p>Find me in app/views/items/edit.html.erb</p>-->
<h1>商品内容の変更</h1>

<%= render 'item_form' %>
<br>
<button class="btn btn-default btn-xs"><%= link_to '商品一覧へ', items_path %></button>

