<% provide(:title, "商品情報の編集") %>
<h1>Items#edit</h1>
<p>Find me in app/views/items/edit.html.erb</p>
<h1>商品内容変更画面</h1>

<%= render 'form' %>
<br>
<%= link_to 'indexアクションへ', items_path %>
<br>
<%= link_to 'newアクションへ', new_item_path %>
