<% provide(:title, "商品登録画面") %>
<h1>Items#new</h1>
<p>Find me in app/views/items/new.html.erb</p>
<h2>商品登録画面</h2>

<%= render 'form' %>
<br>
<%= link_to 'indexアクションへ', items_path %>
<br>
<br>
<%= link_to 'newアクションへ', new_item_path %>
