// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//PC用
@media screen and (min-width: 765px) {

  .top{

    main.index{

      .box{
        position: relative;

        margin: 20px auto;
        width: 95%;
        height: 230px;
        border: solid 2px lightgrey;
        border-radius: 10px;
        display: flex;

        h2{
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-120%) translateX(1em);

          background-color: white;
          padding: 0 5px;

          .show-more{
            color: lightgrey;
            font-size: 15px;
            padding-left: 20px;
            display: inline-block
          }//.show-more
        }//h2

        div.item-card {
          width: 149px;
          height: 190px;
          border: solid 2px lightgrey;
          margin: 20px 5px 0 5px;

          div.image {
            width: 145px;
            height: 145px;
            border-bottom: solid 2px lightgrey;

            img{
              width: 145px;
              height: 145px;
            }
          }
          div.title {
            text-align: center;
          }
          div.name {
            text-align: center;
          }
          div.price {
            text-align: center;
            color: #FF4500;
          }
        }//.item-card

      }//.box



    }

    .company{
      h1{
        font-style: italic;
      }

      table{
        margin: 0 auto;
        border: none;

          .midashi{
            width: 200px;
            text-align: center;
          }

        td{
          padding-left: 20px;
          height: 100px;
          width: 470px;
        }
      }//.table

      #map{
        margin-top: 10px;
        margin-left: 10px;
      }
    }//.company
  }// .top
}// @media

