<% provide(:title, "おしらせの追加") %>
<!--<h3>Infos#new</h3>-->
<!--<p>Find me in app/views/infos/new.html.erb</p>-->
<h3>お知らせ情報の登録</h3>
<%= render 'info_form' %>

<button class="btn btn-default btn-xs"><%= link_to 'お知らせ一覧へ', infos_path %></button>
